html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 2rem;
  left: 4rem;
}

.card-label {
  background-color: rgba(0, 0, 0, .5);
}

.card {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px;
}

.card-body {
  padding: 2rem 4rem;
}
